<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d872b608-016a-43b5-90ee-d6d43bf618d4/resourcegroups/leaffrey/providers/Microsoft.Web/sites/Project520170509054321</ResourceId>
    <ResourceGroup>leaffrey</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://project520170509054321.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>project520170509054321.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Project520170509054321</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Project520170509054321</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="apartmentTestConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=visualbasic.database.windows.net;Initial Catalog=apartmentTest;Persist Security Info=True;User ID=system;Password=leaffrey#1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=visualbasic.database.windows.net;Initial Catalog=apartmentTest;Persist Security Info=True;User ID=system;Password=leaffrey#1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\apartmentTestConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=visualbasic.database.windows.net;Initial Catalog=apartmentTest;Persist Security Info=True;User ID=system;Password=leaffrey#1" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="apartmentTestConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=visualbasic.database.windows.net;Initial Catalog=apartmentTest;Persist Security Info=True;User ID=system;Password=leaffrey#1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="apartmentTestConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=visualbasic.database.windows.net;Initial Catalog=apartmentTest;Persist Security Info=True;User ID=system;Password=leaffrey#1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="apartmentTestConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=visualbasic.database.windows.net;Initial Catalog=apartmentTest;Persist Security Info=True;User ID=system;Password=leaffrey#1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>